<p *ngIf="message"> error de creation creation </p>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <fieldset>
    <legend>JE CRÉE MON COMPTE</legend>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email"   name="email" aria-describedby="emailHelp" placeholder="Enter email" ngModel>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" ngModel>
    </div>
    <div class="form-group">
      <label for="Confirmation">Confirmation</label>
      <input type="password" class="form-control" id="Confirmation" name="Confirmation" placeholder="Confirmation password " ngModel>
    </div>

    <fieldset class="form-group">
      <legend> Civilité *</legend>
      <div class="form-check">
        <label class="form-check-label"> Monsieur</label>
          <input type="radio" class="form-check-input" name="civilite" id="option1" value="Monsieur" checked="" ngModel>



      </div>
      <div class="form-check">
        <label class="form-check-label"> Madame</label>
          <input type="radio" class="form-check-input" name="civilite" id="option2" value="madame" checked="" ngModel>

      </div>

      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" ngModel>
      </div>

      <div class="form-group">
        <label for="prenom">Prenom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prenom" ngModel>
      </div>

    <div class="form-group">
      <label for="fontion">Fonction</label>
      <select class="form-control" id="fontion" name="fonction" ngModel>
        <option>Directeur</option>
        <option>PDG</option>
        <option>DAF</option>
      </select>
    </div>

      <legend>Entreprise</legend>

      <div class="form-group">
        <label for="nomentreprise">Entreprise</label>
        <input type="text" class="form-control" id="nomentreprise" name="nomentreprise" placeholder="Votre Entreprise" ngModel>
      </div>

      <div class="form-group">
        <label for="addressentreprise">Address</label>
        <input type="text" class="form-control" id="addressentreprise" name="addressentreprise" placeholder="Address Entreprise" ngModel>
      </div>

      <div class="form-group">
        <label for="logo">Logo</label>
        <input type="file" class="form-control-file" id="logo" name="logo" aria-describedby="fileHelp" ngModel>
      </div>



    </fieldset>

    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
